@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.trans{
  transition: all 0.3s ease-in-out;
}

.heroContainer{
  position: relative;
}
.heroContainer::after{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.361);
 filter: blur(20px);

}

.headerContainer{
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.v-lr{
  writing-mode: vertical-lr;
}
.v-rl{
  writing-mode: vertical-rl;
}
.v-hr{
  writing-mode: lr-tb;
}

.trans2{
  transition: all 1s ease-in-out ;

}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.transparentbg{
  background-color: rgba(0, 0, 0, 0.209);
}
.card{
  width: 50%;
}
.card:nth-child(1){
  flex: 1 1 auto;
}
.card:nth-child(2){
  width: 35%;
}
.card:nth-child(3){
 width: 48%;
}
.card:nth-child(4){
  width: 49%;
}
.card:nth-child(5){
  width: 35%;
}
.card:nth-child(6){
  flex: 1 1 auto;
}


@keyframes blink {
  from{
    opacity: 0.2;
    transform: scmenuale(1.1);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}